<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170907594052-fpd275uackjjonbl3jlcbn6s47aho2gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170907594052-fpd275uackjjonbl3jlcbn6s47aho2gr</string>
	<key>API_KEY</key>
	<string>AIzaSyA6ll3MBiJXu5XUj_eDFWt3foTtuPpF6z4</string>
	<key>GCM_SENDER_ID</key>
	<string>170907594052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HalilBkar.MovieApp</string>
	<key>PROJECT_ID</key>
	<string>movieapp-9baf4</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-9baf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170907594052:ios:cb8c05723737b0c549bb11</string>
</dict>
</plist>