<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907822611143-2gil6ammu1stico71ajphcjb9gned9dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907822611143-2gil6ammu1stico71ajphcjb9gned9dn</string>
	<key>API_KEY</key>
	<string>AIzaSyBX488W_Ab4SIeYSpDjEY-C9A0fzmzjLAg</string>
	<key>GCM_SENDER_ID</key>
	<string>907822611143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HalilBkar.MovieApp</string>
	<key>PROJECT_ID</key>
	<string>movieapp-8e075</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-8e075.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907822611143:ios:edaee9bb8060adcefddce2</string>
</dict>
</plist>